/* CSS for ImagePopup */
.text-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    position: relative;
    height: 78%;
    width: 78%;
    overflow: hidden;
    border-radius: 30px;
}

.container img {
    width: 47.5%;
    opacity: 1;
    height: auto;
    border-radius: 15px;
}

.container__close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    border-radius: 100px;
    background-color: #fff;
    cursor: pointer;
    width: 3.5vw;
    height: 3.5vw;
    font-size: 1.5vw;
    opacity: 88%;

}

.container__text {
    height: 100%;
    width: 100%;
    background-color: #96608E;
    color: white;
    font-size: xx-large;
    font-weight: 600;
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    opacity: 0.88;
}

.container__text-p {
    padding: 10%;
    padding-top: 10px;
    text-align: center;
    font-size: calc(1.7em - 1em);
    font-family: 'Lato', sans-serif;
    opacity: 1;
}

.container__close-button:hover {
    color: #81A979;
    opacity: 80%;
    transition: 300ms;
}