
.text-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    position: relative;
    height: 78%;
    width: 78%;
    border-radius: 30px;
}

.container__close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 20px;
    border-radius: 100px;
    background-color: #fff;
    cursor: pointer;
    width: 3.5vw;
    height: 3.5vw;
    font-size: 1.5vw;
    opacity: 88%;
}


.container__text {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding-top: 50px;
    font-weight: 600;
    background-color: rgba(150, 96, 142, 0.80);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.container__text-p {
    padding: 10%;
    padding-top: 10px;
    font-size: calc(0.8rem + 1vw);
    font-family: 'Lato', sans-serif;
    line-height: 1;
    opacity: 1;
    max-height: 90%; 
    text-align: center;

    overflow-y: auto;
}

.container__text-p::-webkit-scrollbar {
    display: none;
}



.container__close-button:hover {
    color: #81A979;
    opacity: 80%;
    transition: 300ms;
}

@media (max-width: 768px){
    .container__close-button {
        top: 15px;
        left: 15px;
        width: 10vw;
        height: 10vw;
        font-size: 3vw;
    }
}