.grid-container-cat {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
}

.grid-container-cat__description{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column: auto / span 12;
}

.description__back-arrow {
    position: absolute;
    font-size: 3rem;
    color: #96608E;
    transition: 300ms;
    top: 15%;
    left: 2%;
    opacity: 80%;
}

.description__back-arrow:hover{
    transform: scale(1.1);
    opacity: 100%;
}


.description__h1{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #C7B9A5;
    font-size: calc(2rem + 1rem);
    margin: 32.16px 0 15px 0;
}

.description__p{
    font-family: 'Lato', sans-serif;
    color: #6D6E71;
    line-height: 1.8;
    font-size: 1rem;
}

.grid-item-cat {
    grid-column: auto/ span 6;
    grid-row: auto / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.link {
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .grid-item-cat {
        grid-column: auto / span 12;
        grid-row: auto;
    }
}