.work-wrapper {
    box-sizing: unset;
    min-width: 0 auto;
}

.work-header{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #C7B9A5;
    font-size: calc(2rem + 1rem);
}

.work-description{
    font-family: 'Lato', sans-serif;
    color: #6d6e71;
    line-height: 1.8;
    text-align: center;
    font-size: 1rem;
}

.grid-container__work {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 8rem;
    padding: 5% 5% 10% 5%;
}

.grid-item__work {
    grid-column: auto/ span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .grid-item__work {
        grid-column: auto/span 4;
    }
}

@media screen and (max-width: 1024px) {
    .grid-item__work {
        grid-column: auto/span 6;
    }
}

@media screen and (max-width: 768px) {
    .grid-item__work {
        grid-column: auto/span 12;
    }

    .grid-container__work {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: unset;
        row-gap: 5rem;
        padding: 5% 5% 30% 5%;
    }
}