.book-page{
    position: relative;
}

.book-page__back-arrow{
    position: absolute;
    font-size: 3rem;
    color: #96608E;
    transition: 300ms;
    top: -0.4%;
    left: 2%;
    opacity: 80%;
}

.book-page__back-arrow:hover{
    transform: scale(1.1);
    opacity: 100%;
}

.book-page__h1{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #C7B9A5;
    font-size: calc(2rem + 1rem);
}

.book-page_p{
    font-family: 'Lato', sans-serif;
    color: #6d6e71;
    line-height: 1.8;
    text-align: center;
    font-size: 1rem;
}

.book-page__grid-container{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 8rem;
    padding: 5% 5% 10% 5%;
}

.book-page__grid-item{
    grid-column: auto/ span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .book-page__grid-item {
        grid-column: auto/span 4;
    }
}

@media screen and (max-width: 1024px) {
    .book-page__grid-item {
        grid-column: auto/span 6;
    }
}

@media screen and (max-width: 768px) {
    .book-page__grid-item {
        grid-column: auto/span 12;
    }

    .book-page__grid-container {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: unset;
        row-gap: 5rem;
        padding: 5% 5% 30% 5%;
    }
}