.quote-card-frame-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding-top: 25px;
    background-color: rgba(199, 185, 165, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    
    
    .quote-card-frame-h1{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #C7B9A5;
        font-size: calc(2em + 1em);
        text-align: start;
    }
    
    .quote-card-frame-h3{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #C7B9A5;
        font-size: calc(1.17em + 1em);
        text-align: start;
        margin-left: 50px;
    }
    
    .quote-card-frame-description{
        font-family: 'Lato', sans-serif;
        color: #6d6e71;
        text-align: start;
        line-height: 1.8;
        margin: 0;
        max-width: 80%;
        font-style: italic;
    }

    .block-quote-frame{
        color: #D7ACC1;
        padding: 20px;
        padding-left: 50px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        min-height: 120px;
        margin: 0;
        width: 100%;
        width: inherit;
    }

    .block-quote-frame::before{
        font-family: Georgia, serif;
        content: "“";
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 5em;
        color: rgba(215, 172, 193, 0.3);
        font-weight: normal;
    }

    .block-quote-frame::after{
        font-family: Georgia, serif;
        content: "”";
        position: absolute;
        bottom: -110px;
        line-height: 100px;
        right: -32px;
        font-size: 25em;
        color: rgba(215, 172, 193, 0.3);
        font-weight: normal;
    }