.board{
    position: relative;
    padding:0;
    border: 20px solid #96608e;
    border-radius: 10px;
    background-color: #231720;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
}

button{
    display: block;
}