.quote-card-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f3f1;
    /*
    border: 1px solid black;
    */
    }
    
    
    .quote-card-h1{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #C7B9A5;
        font-size: calc(2em + 1em);
        text-align: start;
    }
    
    .quote-card-h3{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #C7B9A5;
        font-size: calc(1.17em + 1em);
        text-align: start;
        margin-left: 50px;
        /*
        border: 1px solid black;
        */
    }
    
    .quote-card-description{
        font-family: 'Lato', sans-serif;
        color: #6d6e71;
        text-align: start;
        line-height: 1.8;
        margin: 0;
        max-width: 80%;
        font-style: italic;
    }

    .block-quote{
        color: #D7ACC1;
        padding: 20px;
        padding-left: 50px;
        box-sizing: border-box;
        position: relative;
        min-height: 120px;
        margin: 0;
        width: 100%;
        width: inherit;
    }

    .block-quote::before{
        font-family: Georgia, serif;
        content: "“";
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 5em;
        color: rgba(215, 172, 193, 0.3);
        font-weight: normal;
    }

    .block-quote::after{
        font-family: Georgia, serif;
        content: "”";
        position: absolute;
        bottom: -110px;
        line-height: 100px;
        right: -32px;
        font-size: 25em;
        color: rgba(215, 172, 193, 0.3);
        font-weight: normal;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px){
        .quote-card-h3{
            font-family: 'Overpass', sans-serif;
            font-weight: 600;
            color: #C7B9A5;
            font-size: calc(1.17em + 1em);
            text-align: center;
            margin-left: 0;
        }
        
        .quote-card-description{
            font-family: 'Lato', sans-serif;
            color: #6d6e71;
            text-align: center;
            line-height: 1.8;
            margin: 0;
            max-width: 80%;
        }

        .block-quote::before{
            font-family: Georgia, serif;
            content: "“";
            position: absolute;
            top: 10px;
            left: 1vw;
            font-size: 5em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }
    
        .block-quote::after{
            font-family: Georgia, serif;
            content: "”";
            position: absolute;
            bottom: -110px;
            line-height: 100px;
            right: 0.3vw;
            font-size: 25em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }

    }

    @media screen and (min-width: 640px) and (max-width: 768px){
        .quote-card-h3{
            font-family: 'Overpass', sans-serif;
            font-weight: 600;
            color: #C7B9A5;
            font-size: calc(1.17em + 1em);
            text-align: center;
            margin-left: 0;
        }
        
        .quote-card-description{
            font-family: 'Lato', sans-serif;
            color: #6d6e71;
            text-align: center;
            line-height: 1.8;
            margin: 0;
            max-width: 80%;
        }

        .block-quote::before{
            font-family: Georgia, serif;
            content: "“";
            position: absolute;
            top: 10px;
            left: 1vw;
            font-size: 5em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }
    
        .block-quote::after{
            font-family: Georgia, serif;
            content: "”";
            position: absolute;
            bottom: -110px;
            line-height: 100px;
            right: -3vw;
            font-size: 25em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }
    }


    @media screen  and (max-width: 640px){
        .quote-card-h3{
            font-family: 'Overpass', sans-serif;
            font-weight: 600;
            color: #C7B9A5;
            font-size: calc(1.17em + 1em);
            text-align: center;
            margin-left: 0;
        }
        
        .quote-card-description{
            font-family: 'Lato', sans-serif;
            color: #6d6e71;
            text-align: center;
            line-height: 1.8;
            margin: 0;
            max-width: 80%;
        }

        .block-quote::before{
            font-family: Georgia, serif;
            content: "“";
            position: absolute;
            top: 10px;
            left: 1vw;
            font-size: 5em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }
    
        .block-quote::after{
            font-family: Georgia, serif;
            content: "”";
            position: absolute;
            bottom: -110px;
            line-height: 100px;
            right: -5.5vw;
            font-size: 25em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }
    }


    @media screen  and (max-width: 480px){
        .quote-card-h3{
            font-family: 'Overpass', sans-serif;
            font-weight: 600;
            color: #C7B9A5;
            font-size: calc(1.17em + 1em);
            text-align: center;
            margin-left: 0;
        }
        
        .quote-card-description{
            font-family: 'Lato', sans-serif;
            color: #6d6e71;
            text-align: center;
            line-height: 1.8;
            margin: 0;
            max-width: 80%;
        }

        .block-quote::before{
            font-family: Georgia, serif;
            content: "“";
            position: absolute;
            top: 10px;
            left: 1vw;
            font-size: 5em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }
    
        .block-quote::after{
            font-family: Georgia, serif;
            content: "”";
            position: absolute;
            bottom: -110px;
            line-height: 100px;
            right: -5.5vw;
            font-size: 25em;
            color: rgba(215, 172, 193, 0.3);
            font-weight: normal;
        }
    }