.navigation-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F3F1;
  }
  
  .center-image .planet-header {
    color: #C7B9A5;
  }
  
  .planet-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #96608E;
    margin: 10px;
    color: #C7B9A5;
    font-size: 16px;
    text-decoration: none;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .planet-item:hover {
    transform: scale(1.5);
    background-color: #D7ACC1 ;
  }
  
  .planet-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .planet-logo {
    height: 70px;
    width: 80px;
    transition: filter 0.5s ease;
  }
  
  .planet-item:hover .planet-logo {
    filter: brightness(0);
  }
  
  .planet-text {
    margin-top: 10px;
    transition: color 0.5s ease;
  }
  
  .planet-item:hover .planet-text {
    color: black;
  }
  
  
  
  
  .center-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }