.circle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    background: #D7ACC1;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}



.circle:hover {
    transform: scale(1.1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.circle-img {
    width: 80%; 
    height: auto;
}

.circle-text {
    font-family: 'Lato', 'sans-serif';
    position: relative;
    color: #000; 
    transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
    .circle{
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .circle{
        width: 64px;
        height: 64px;
    }
}