.card-two-wrapper{
    height: 25vh;
    display: flex;
    /*width: 50%;*/
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0;
    }
    
    
    .card-two-h1{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        width: 100%;
        color: #C7B9A5;
        font-size: calc(2em + 1em);
        text-align: center;
    }
    
    .card-two-h3{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #C7B9A5;
        font-size: calc(1.17em + 1em);
        text-align: center;
    }
    
    
    .card-two-description{
        font-family: 'Lato', sans-serif;
        color: #6d6e71;
        line-height: 1.8;
        display: inline;
        font-size: 1rem;
        text-align: center;
    }