.card-two-wrapper{
    height: 25vh;
    display: flex;
    /*width: 50%;*/
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    
    
    .card-two-h1{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        width: 100%;
        color: #C7B9A5;
        font-size: calc(2em + 1em);
        text-align: center;
        height: fit-content;
        padding-top: 10px;
        margin: 0;
    }
    
    .card-two-h3{
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        color: #C7B9A5;
        font-size: calc(1.17em + 1em);
        text-align: center;
        margin: 0;
        height: fit-content;
        padding: 0;
    }
    
    
    .card-two-description{
        font-family: 'Lato', sans-serif;
        color: #6d6e71;
        line-height: 1.8;
        display: inline;
        font-size: 1rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
    }
    
    @media screen and (max-width: 480px) {
        .card-two-wrapper{
            height: 20vh;
            display: flex;
        
            flex-direction: column;
            width: 100%;
            
            justify-content: space-evenly;
            align-items: center;
            }

            .card-two-h3{
                font-family: 'Overpass', sans-serif;
                font-weight: 600;
                color: #C7B9A5;
                font-size: calc(1.17em + 1em);
                text-align: center;
                margin: 0;
                margin-top: 30px;
                height: fit-content;
                padding: 0;
            }
    }
    