
.container-left{
    display: flex;
    padding: 70px;
}

.image-wrapper-left{
    background-color: #BBC3AD;
    height: 669px;
    width: 545px;
    border-radius: 15px;
}

.image-wrapper-left__img {
    max-width: 110%;
    max-height: 110%;
    position: relative;
    top: 15%;
    right: 35%;
}

.content-container-left{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
}

.content-container-left__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.content-container-left__h1{
    font-family: 'Overpass', sans-serif;
    font-size: calc(1.17em + 1em);
    font-weight: 600;
    margin-bottom: 10px;
    color: #C7B9A5;
}

.content-container-left__p {
    font-family: 'Lato', sans-serif;
    color: #6d6e71;
    line-height: 1.8;
    display: inline;
    font-size: 1rem;
}

@media (max-width: 768px){
    .content-container-left {
        margin-bottom: 20%;
        padding: 0;
        
    }

    .image-wrapper-left {
        height: 334px;
        width: 272px;
    }
}

@media (max-width: 1268px){
    .container-left {
        flex-direction: column;
        align-items: center;
    }
}