.work-item__wrapper{
    background-color: rgba(187,96,142, 0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding-top: 10%;*/
    border-radius: 10px;
    overflow: hidden;
}


.work-item__h3{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #C7B9A5;
    font-size: calc(1.17em + 1em);
    margin: 20px 0 0 0 ;
}

.work-item__p{
    font-family: 'Lato', sans-serif;
    color: #6d6e71;
    line-height: 1.8;
    font-size: 1rem;
    margin: 5px 0 0 0;
}

.work-item__image--wrapper{
    padding: 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    border-bottom:  2px solid #96608e; ;
}

.work-tiem__image{
    width: 100%;
    height: 45vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    transition: all 0.5s;
    /*
    border-radius: 10px;
    border: 2px solid #96608e;
    */
}

.work-button{
    padding: 0;
    margin-bottom: 15px;
}


.work-tiem__image:hover{
    scale: 1.05;
    object-fit: cover;
    cursor: pointer;

}

@media screen and (max-width: 1024px) {
    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 50vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 50vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 80vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 80vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 640px) {

    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 70vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 70vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 480px) {
    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 50vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 50vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }
    
}





