.work-item__wrapper{
    background-color: rgba(187,96,142, 0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}


.work-item__h3{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #C7B9A5;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 0 0 ;
}

.work-item__p{
    font-family: 'Lato', sans-serif;
    color: #6d6e71;
    line-height: 1.8;
    text-align: center;
    font-size: 1rem;
    margin: 5px 0 0 0;
}

.work-item__image--wrapper{
    padding: 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: inherit;
    width: 100%;
    background-size:cover;
    overflow: hidden;
    border-bottom:  2px solid #96608e; ;
}

.work-tiem__image{
    width: 100%;
    height: 60vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:cover;
    transition: all 0.5s;
   
}

.work-button{
    padding: 0;
    margin-bottom: 15px;
}


.work-tiem__image:hover{
    scale: 1.05;
    object-fit: cover;
    cursor: pointer;

}

@media screen and (min-width: 1300px) {
    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 65vh;
        width: 100%;
        background-size:cover;
        overflow: hidden;
        border-bottom:  2px solid #96608e; ;
    }
    
    .work-tiem__image{
        width: 100%;
        height: 65vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit:cover;
        object-position: center;
        transition: all 0.5s;
      
    }
}

@media screen and (max-width: 1024px) {

    .work-item__wrapper{

    }
    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: inherit;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 60vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .work-item__wrapper{
        
    }
    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 80vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 80vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 640px) {
    .work-item__wrapper{
        
    }

    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 70vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 70vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 480px) {
    .work-item__wrapper{
        
    }
    .work-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 50vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .work-tiem__image{
        width: 100%;
        height: 50vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }

    .work-item__h3{
        font-size: 1.7rem;
    }
    
}

.book-item__wrapper{
    background-color: rgba(187,96,142, 0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}


.book-item__h3{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #C7B9A5;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 0 0 ;
}

.book-item__p{
    font-family: 'Lato', sans-serif;
    color: #6d6e71;
    line-height: 1.8;
    text-align: center;
    font-size: 1rem;
    margin: 5px 0 0 0;
}

.book-item__image--wrapper{
    padding: 0;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60vh;
    width: 100%;
    background-size:cover;
    overflow: hidden;
    border-bottom:  2px solid #96608e; ;
}

.book-tiem__image{
    width: 100%;
    height: 75vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:cover;
    object-position: center;
    transition: all 0.5s;
   
}

.book-button{
    padding: 0;
    margin-bottom: 15px;
}


.book-tiem__image:hover{
    scale: 1.05;
    object-fit: cover;
    cursor: pointer;

}

@media screen and (min-width: 1400px) {
    .book-item__image--wrapper{
        padding: 0;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 70vh;
        width: 100%;
        background-size:cover;
        overflow: hidden;
        border-bottom:  2px solid #96608e; ;
    }
    
    .book-tiem__image{
        width: 100%;
        height: 75vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit:cover;
        object-position: center;
        transition: all 0.5s;
       
    }
}

@media screen and (max-width: 1400px) {
    .book-item__image--wrapper{
        padding: 0;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 90vh;
        width: 100%;
        background-size:cover;
        overflow: hidden;
        border-bottom:  2px solid #96608e; ;
    }
    
    .book-tiem__image{
        width: 100%;
        height: 75vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit:cover;
        object-position: center;
        transition: all 0.5s;
        /*
        border-radius: 10px;
        border: 2px solid #96608e;
        */
    }
}

@media screen and (max-width: 1024px) {

    .book-item__wrapper{
        height: 80vh;

    }
    .book__image--wrapper{
        padding: 0;
        margin: 0;
        height: 60vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .book-tiem__image{
        width: 100%;
        height: 70vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .book-item__wrapper{
        height: 80vh;
    }
    .book-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 70vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .book-tiem__image{
        width: 100%;
        height: 70vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
        object-position: center;
    }
    
}

@media screen and (max-width: 640px) {
    .book-item__wrapper{
        
    }

    .book-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 70vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .book-tiem__image{
        width: 100%;
        height: 70vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 480px) {
    .book-item__wrapper{
        height: 80vh;
    }
    .book-item__image--wrapper{
        padding: 0;
        margin: 0;
        height: 70vh;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
    .book-tiem__image{
        width: 100%;
        height: 70vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px solid #D7ACC1 ;
        object-fit: cover;
    }

    .book-item__h3{
        font-size: 1.7rem;
    }
    
}