.game-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}

.game-header{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #C7B9A5;
    font-size: 2rem;
    margin-bottom: 25px;
}

.game-p{
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #6d6e71;
  margin: 10px;
}

.game-box{
  margin-top: 25px;
}

.video-div{
  height: 100px;
}

