.main-wrapper {
    width: 100%;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 50px;
    column-gap: 3rem;
    row-gap: 20rem;
    padding-bottom: 10rem;

}

.grid-container__item-game {
    grid-column: auto/ span 6;
    display: flex;
    height: fit-content;
    grid-row-start: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.grid-container__item-card {
    grid-column: auto/ span 6;
    grid-column-start: 7;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.grid-container__text--one{
    grid-column: auto/ span 6;
    display: flex;
    justify-content: center;
}
.grid-container__image--one{
    grid-column: auto/ span 6;
   
}

.grid-container__text--two{
    grid-column: auto/ span 6;
    display: flex;
    justify-content: center;
}
.grid-container__image--two{
    grid-column: auto/ span 6;
   
    
}
.grid-container__item-card-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 50px;
    padding-top: 10rem;
    column-gap: 1rem;
    row-gap: 8rem;
    padding-bottom: 10rem;
}


.grid-container__item-video {
    grid-column: auto/ span 12;
}


.grid-container__item-card--video {
    grid-column: auto/ span 6;
}

.grid-container__item-card--video2 {
    grid-column: auto/ span 6;
    grid-column-start: 7;
}

/*tablet view*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 50px;
        column-gap: 3rem;
        row-gap: 10rem;

    }

    .grid-container__item-card {
        grid-column: auto/ span 12;
        display: flex;
        grid-row-start: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .grid-container__item-game {
        grid-column: auto/ span 12;
        grid-row-start: 2;
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .grid-container__text--one{
        grid-column: auto/ span 12;
        display: flex;
        justify-content: center;
    }
    .grid-container__image--one{
        grid-column: auto/ span 12;
       
    }
    
    .grid-container__text--two{
        grid-column: auto/ span 12;
        display: flex;
        grid-row-start: 5;
        justify-content: center;
    }
    .grid-container__image--two{
        grid-column: auto/ span 12;
       
        
    }

    .grid-container__item-card-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 50px;
        padding-top: 10rem;
        column-gap: 1rem;
        row-gap: 5rem;
        padding-bottom: 10rem;
    }

    .grid-container__item-card--video {
        grid-column: auto/ span 12;
    }

    .grid-container__item-card--video2 {
        grid-column: auto/ span 12;

    }
}

/*in the middle*/
@media screen and (min-width: 640px) and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 50px;
        column-gap: 3rem;
        row-gap: 5rem;

    }



    .grid-container__item-card {
        grid-column: auto/ span 12;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container__item-game {
        grid-column: auto/ span 12;
        grid-row-start: 2;
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container__text--one{
        grid-column: auto/ span 12;
        display: flex;
        justify-content: center;
    }
    .grid-container__image--one{
        grid-column: auto/ span 12;
       
    }
    
    .grid-container__text--two{
        grid-column: auto/ span 12;
        display: flex;
        grid-row-start: 5;
        justify-content: center;
    }
    .grid-container__image--two{
        grid-column: auto/ span 12;
       
        
    }


    .grid-container__item-card-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 50px;
        padding-top: 10rem;
        column-gap: 1rem;
        row-gap: 5rem;
        padding-bottom: 10rem;
    }

    .grid-container__item-card--video {
        grid-column: auto/ span 12;
    }

    .grid-container__item-card--video2 {
        grid-column: auto/ span 12;

    }

}

/*for mobile landscape view*/
@media screen and (max-width: 640px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 30px;
        row-gap: 5rem;
        column-gap: 1rem;
    }

    .grid-container__item-card {
        grid-column: auto/ span 12;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .grid-container__item-game {
        grid-column: auto/ span 12;
        grid-row-start: 2;
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container__text--one{
        grid-column: auto/ span 12;
        display: flex;
        justify-content: center;
    }
    .grid-container__image--one{
        grid-column: auto/ span 12;
       
    }
    
    .grid-container__text--two{
        grid-column: auto/ span 12;
        display: flex;
        grid-row-start: 5;
        justify-content: center;
    }
    .grid-container__image--two{
        grid-column: auto/ span 12;
       
        
    }

    .grid-container__item-card-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 30px;
        padding-top: 10rem;
        padding-bottom: 10rem;
        column-gap: 1rem;
        row-gap: 10rem;
    }

    .grid-container__item-card--video {
        grid-column: auto/ span 12;
    }

    .grid-container__item-card--video2 {
        grid-column: auto/ span 12;

    }


}

/*for mobile portrait view*/
@media screen and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 30px;
        row-gap: 5rem;
        column-gap: 1rem;
    }

    .grid-container__item-card {
        grid-column: auto/ span 12;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .grid-container__item-game {
        grid-column: auto/ span 12;
        grid-row-start: 2;
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container__text--one{
        grid-column: auto/ span 12;
        display: flex;
        justify-content: center;
    }
    .grid-container__image--one{
        grid-column: auto/ span 12;
       
    }
    
    .grid-container__text--two{
        grid-column: auto/ span 12;
        display: flex;
        grid-row-start: 5;
        justify-content: center;
    }
    .grid-container__image--two{
        grid-column: auto/ span 12;
       
        
    }

    .grid-container__item-card--video {
        grid-column: auto/ span 12;
    }

    .grid-container__item-card--video2 {
        grid-column: auto/ span 12;
    }

}